html{
    background-image: linear-gradient(#e2ff3f,#ff7632);
    display: flex;
    flex-flow: column;
    align-items: center;
}

header{
    align-self: stretch;
    display: flex;
    flex-flow: row;

}

header ul{
    align-self: flex-end;
    justify-content: space-around;

}
